<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>yuta_store</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
  <h1>yuta_store</h1>
</header>

<div class="container">
  {% for p in products %}
  <div class="card">

    <img src="{{ url_for('static', filename=p.image) }}" class="product-img">

    <h3>{{ p.name }}</h3>
    <p class="desc">{{ p.desc }}</p>
    <p class="price">Rp {{ p.price }}</p>

    <form onsubmit="sendWA('{{ p.name }}','{{ p.price }}', this.user.value)">
      <input name="user" placeholder="Username Roblox" required>
      <button>Order WhatsApp</button>
    </form>

  </div>
  {% endfor %}
</div>

<script>
function sendWA(product, price, user) {
  let text =
    "ORDER YUTA_STORE\n" +
    "Produk: " + product + "\n" +
    "Harga: Rp " + price + "\n" +
    "Username Roblox: " + user;

  window.open(
    "https://wa.me/6281241378680?text=" + encodeURIComponent(text),
    "_blank"
  );
}
</script>

</body>
</html>
